.container{
    position: absolute;
    z-index: 1;
    top: 15%;
    left: 25%;
    display:flex;
    height: 2300px;
    width: 700px;
    border: 2px solid #032129;  
    background-color: rgb(211, 226, 226);
   
}
.editForm{
    position: absolute;
    left:50px;
    top: 50px;
}

label{
    font-size: 1em;
    font-weight: bolder;
    color:#032129;
    
}

h2{
    border-left: 3px solid #032129;
    padding: 15px;
}
input{
    width: 280px;
    height: 30px;
    border: 1px solid #032129;   
    background-color: #d8eff5;
    color:#032129;

}
.file{
    height:20px;
}

button{
    background-color: #032129;
    height: 40px;
    width: 100px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    
}
.close{
    position: absolute;
    cursor: pointer;
    left: 550px;
    font-size: 2em;
    color:#032129;
}
