<div 
class="container"
*ngIf="showEditForm">
    <form class="editForm">
        <fa-icon
    class="close"
    [icon]="faRectangleXMark"
    (click)="toggleShowEditForm()">
    </fa-icon>
        <h1>Editar Portfolio</h1>
        <br><br>
        <h2>Perfil</h2>
        <br>
        <label>Nombre</label>
        <br>
        <input type="text" name="nombre">
        <br><br>
        <label>Informacion Profesional</label>
        <br>        
        <input type="text" name="careerInfo">
        <br><br>
        <label>Foto de Perfil</label>
        <br>
        <input type="file" name="profilePic" class="file">
        <br><br>
        <label>Foto de Portada</label>
        <br>
        <input type="file" name="profileBanner" class="file">
        <br><br>
        <h2>Contacto</h2>
        <br>
        <label>Correo</label>
        <br>
        <input type="text" name="email">
        <br><br>
        <label>Link de contacto adicional</label>
        <br>
        <input type="url" name="socMedia">
        <br><br>
        
        
        <h2>Sobre mi</h2>
        <br>
       
        <label>Tarjeta 1</label>
        <br><br>
       
        <label>Titulo</label>
        <br>
        <input type="text">
        <br>

        <label>Cuerpo</label>
        <br>
        <input type="text">
        <br><br>

        <label>Tarjeta 2</label>
        <br><br>
       
        <label>Titulo</label>
        <br>
        <input type="text">
        <br>

        <label>Cuerpo</label>
        <br>
        <input type="text">
        <br><br>
       
        <label>Tarjeta 3</label>
        <br><br>
       
        <label>Titulo</label>
        <br>
        <input type="text">
        <br>

        <label>Cuerpo</label>
        <br>
        <input type="text">
        <br><br>
       
        <label>Tarjeta 4</label>
        <br><br>
       
        <label>Titulo</label>
        <br>
        <input type="text">
        <br>

        <label>Cuerpo</label>
        <br>
        <input type="text">
        <br><br>
        
        <h2>Proyectos</h2>
        <br><br>
        <label>Tarjeta 1</label>
        <br><br>
       
        <label>Titulo</label>
        <br>
        <input type="text">
        <br>

        <label>Cuerpo</label>
        <br>
        <input type="text">
        <br><br>

        <label>Tarjeta 2</label>
        <br><br>
       
        <label>Titulo</label>
        <br>
        <input type="text">
        <br>

        <label>Cuerpo</label>
        <br>
        <input type="text">
        <br><br>
       
        <label>Tarjeta 3</label>
        <br><br>
       
        <label>Titulo</label>
        <br>
        <input type="text">
        <br>

        <label>Cuerpo</label>
        <br>
        <input type="text">
        <br><br>
       
        <label>Tarjeta 4</label>
        <br><br>
       
        <label>Titulo</label>
        <br>
        <input type="text">
        <br>

        <label>Cuerpo</label>
        <br>
        <input type="text">
        <br><br>
        

        <button type="submit">Aceptar</button>
    </form>
</div>
