<header>
    <div class="headerLeft">

        <h3>#YoProgramo</h3>
    </div>

    <div class="headerMiddle">
        <ul class="pages">
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Sobre mí</a></li>
            <li><a href="#">Proyectos</a></li>
        </ul>
    </div>

    <div class="headerRight">
       <a routerLink="/edit/profile"> 
        <fa-icon
        class="edit-icon"
        [icon]="faPenToSquare"
        >

        </fa-icon>
       </a>  
        <a routerLink="/login">
        <fa-icon
        class="login-icon"
        [icon]="faArrowRightToBracket"
        >
        </fa-icon> 
        </a>
   
    </div>
    
</header>