<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

<nav class="navbar navbar-expand-xxxl shadow navbar-dark fixed-top ">
    <a class="navbar-brand" href="#">Portfolio Web</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav mr-auto mt-2 mt-md-0">

            <div class="buttons">
                <li class="edit-button" *ngIf="isAuthenticated">

                    <a routerLink="/edit/profile">
                        <i class="fa-solid fa-pen-to-square"></i>
                        <p>Editar Perfil</p>
                    </a>

                </li>

                <li class="logout-button" *ngIf="isAuthenticated">
                    <button (click)="logOut()">
                        <i class="fa-solid fa-arrow-right-from-bracket"></i>
                        <p>Cerrar Sesión</p>
                    </button>
                </li>
                <li class="login-button" *ngIf="!isAuthenticated">

                    <a routerLink="/login">
                        <i class="fa-solid fa-arrow-right-to-bracket"></i>
                        <p>Iniciar Sesión</p>
                    </a>

                </li>
            </div>

        </ul>
    </div>
</nav>