<header>
    <div class="headerLeft">

        <h3>#YoProgramo</h3>
    </div>

    <div class="headerMiddle">
        <ul class="pages">
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Sobre mí</a></li>
            <li><a href="#">Proyectos</a></li>
        </ul>
    </div>

    <div class="headerRight">
        <fa-icon
        class="edit-icon"
        [icon]="faPenToSquare"
        >

        </fa-icon>
        <fa-icon
        class="login-icon"
        [icon]="faArrowRightToBracket"
        (click)="toggleShowLogin()"
        >
        </fa-icon> 
        
   
    </div>
    
</header>