
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

<nav class="navbar navbar-expand-xxxl navbar-fixed-top shadow navbar-dark ">
    <a class="navbar-brand" href="#">Portfolio Web</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        
        <ul class="navbar-nav mr-auto mt-2 mt-md-0">

                <li class="nav-item">
                    <a class="nav-link" href="#">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#aboutMe">Sobre mí</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#projects">Proyectos</a>
                </li>
 
                <div class="buttons">
                <li class="edit-button">

                        <a routerLink="/edit/profile"> 
                        <i class="fa-solid fa-pen-to-square"></i>
                        <p>Editar Perfil</p>
                        </a> 

                </li>
                <li class="login-button">  

                    <a  routerLink="/login">
                        <i class="fa-solid fa-arrow-right-to-bracket"></i>
                        <p>Iniciar Sesion</p>
                    </a>
                
                </li>
            </div>
        
        </ul>
      </div>
</nav>