.navbar{
    background-color: #0D4754; 
    padding-left: 20px;
    padding-right: 20px;
}

.navbar-brand{
    color: white;
}

.nav-link{
    color: white;
    border-bottom: 2px solid #066279;  
    text-align: center;
}

.navbar-toggler{
    background-color: #066279;
}
.edit-button a, .login-button a{
    text-decoration: none;
    color: white;
    display: flex;
}
.edit-button p, .login-button p{
    padding-left: 20px;
}
.fa-solid{
    font-size: 1.8rem;
}

.buttons{
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
}


