<div class="container">
    <h1 class="containerTitle">Sobre mí</h1>
    <div class="card" id="C1">
        <h2 class="title">Lorem Ipsum</h2>
        <p class="body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla et sagittis risus. Quisque eleifend finibus nibh at eleifend. Donec odio urna, pellentesque ut sapien sit amet, venenatis condimentum nulla. Vestibulum at purus fringilla, pharetra est eget, congue ligula. Pellentesque venenatis suscipit ipsum vitae bibendum. Mauris lacinia, enim sed egestas venenatis, enim nisi elementum velit, et facilisis diam justo id lorem.</p>
    </div>

    <div class="card" id="C2">
        <h2 class="title">Lorem Ipsum</h2>
        <p class="body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla et sagittis risus. Quisque eleifend finibus nibh at eleifend. Donec odio urna, pellentesque ut sapien sit amet, venenatis condimentum nulla. Vestibulum at purus fringilla, pharetra est eget, congue ligula. Pellentesque venenatis suscipit ipsum vitae bibendum. Mauris lacinia, enim sed egestas venenatis, enim nisi elementum velit, et facilisis diam justo id lorem.</p>
    </div>

    <div class="card" id="C3">
        <h2 class="title">Lorem Ipsum</h2>
        <p class="body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla et sagittis risus. Quisque eleifend finibus nibh at eleifend. Donec odio urna, pellentesque ut sapien sit amet, venenatis condimentum nulla. Vestibulum at purus fringilla, pharetra est eget, congue ligula. Pellentesque venenatis suscipit ipsum vitae bibendum. Mauris lacinia, enim sed egestas venenatis, enim nisi elementum velit, et facilisis diam justo id lorem.</p>
    </div>

    <div class="card" id="C4">
        <h2 class="title">Lorem Ipsum</h2>
        <p class="body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla et sagittis risus. Quisque eleifend finibus nibh at eleifend. Donec odio urna, pellentesque ut sapien sit amet, venenatis condimentum nulla. Vestibulum at purus fringilla, pharetra est eget, congue ligula. Pellentesque venenatis suscipit ipsum vitae bibendum. Mauris lacinia, enim sed egestas venenatis, enim nisi elementum velit, et facilisis diam justo id lorem.</p>
    </div>
</div>