

.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    background-color: white;
    border: 1px solid  rgb(199, 199, 199);
    min-width: fit-content !important;
    max-width: 90vw !important;
}
.title{
    border-bottom: 2px solid #032129;
    margin: 20px;
}

h2{
    font-size: 2rem !important;
}
h4{
    font-size: 1.5rem !important;
}

p{
    font-size: 1rem !important;
}
.card-columns{
    display: flex;
    flex-direction: row;
    width: 70vw;
justify-content: center;


}
.space{
    height: 5vh;
}
#C2, #C4{
   margin-top: 75px !important;
   padding-bottom: 75px !important;
   margin-left: 15px;
}

#C1, #C3{
    margin-bottom: 75px !important;
}
.card-title{
    color:#032129;
}

.card-text{
    color:#032129;
}

.card{
    width: 40vw;
    height: auto;
    border-left:2px solid #032129;
    background-color: rgb(144, 196, 196);
    
}

@media screen and (max-width: 955px) {
    .container{
        max-width: 95vw !important;
    }
    .card-columns{
        display: flex;
        flex-direction: column;
        width: 80vw;
        justify-content: center;
    
    }
    h2{
        font-size: 2rem  !important;
    }
    h4{
        font-size: 1.5rem !important;
    }
    p{
        font-size: 1rem !important;
    }
    .card{
        width: 80vw;
    }

    #C2, #C4{
        margin-top: 20px !important;
        padding-bottom: 0px !important;
        margin-left: 0;
     }
     
     #C1, #C3{
         margin-bottom: 0px !important;
     }

}