
<div class="profile">
    <div class="wrap">
        <img class="userBanner" src="../../../assets/images/azul-portada.jpg" >
        <img class="userPic" src="../../../assets/images/profUserPic.png" alt="fotodeperfil">
    </div>
    <div class="userInfo">
        <p class="userName">Lorem Ipsum</p>
        <p class="userCareerInfo">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras id neque in mi tempus lacinia. Etiam lobortis felis non orci fringilla, non tristique diam euismod. Nam pharetra euismod quam. Suspendisse et viverra turpis. </p>
    </div>
    <app-user-socmedia></app-user-socmedia>
    
</div>

