<div class="container">
  <div class="card shadow">
    <img class="card-img-top profileBanner" src="{{pictures[0]}}" alt="Card image cap">
    <div class="card-body">
      <div class="picContainer">
        <img class="profPic shadow rounded-circle" src="{{pictures[1]}}">
      </div>
      <div class="space"></div>
      <div class="userInfo">
        <p class="userName h2">{{userProfile.userName}}</p>
        <p class="careerInfo">{{userProfile.careerInfo}}</p>
      </div>
      <div class="space"></div>
      <app-user-socmedia></app-user-socmedia>
    </div>
  </div>
</div>