
.profile{
    position:absolute;
    width: 1220px;
    height: 700px;
    left:65px;
    top: 75px;
    background-color: white;
    z-index: -1;
    border:1px solid #032129
}
.wrap{
    
    min-width: 600px;
    min-height: 600px;
}
.userBanner{
    position: absolute;
    z-index: -1;
    width: 100%;
    height:300px;
    object-fit: cover;
    border-bottom:1px solid #032129;
}

.userPic{
    position: absolute;
    width: 200px;
    height: 200px;
    bottom:40%;
    left:10%;
    border-radius: 200px;
    border:2px solid #032129;
    object-fit: cover;
    

}

.userInfo{
    position: absolute;
    top:45%;
    left:30%;
    width: 450px;
}

.userName{
    font-weight: bolder;
    color:#032129;
    font-size: 2em;
    border-bottom:2px solid #032129
}

.userCareerInfo{
    font-size: 1.5em;
}