<div 
class="container"
*ngIf="showLogin">
    <h1>Bienvenido</h1>
    <fa-icon
    class="close"
    [icon]="faRectangleXMark"
    (click)="toggleShowLogin()"></fa-icon>

    <form class="loginForm">
        
        <label>Email</label>
        
        <br/>
        
        <input
        type="text"
        name="email"
        placeholder="Introducir Email"
        >
        
        <br/><br/>
        
        <label>Contraseña</label>
        
        <br/>
        
        <input
        type="text"
        name="password"
        placeholder="Introducir Contraseña"
        >
        
        <br/><br/>

        <button
        type="submit"
        >Iniciar Sesión
        </button>
    </form>
    
</div>
