<!--Por un problema de una actualización de Fontawesome/Angular, uso lo siguiente en vez de su modulo: -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
<div class="container">

    <a routerLink="/home">
        <i class="fa-solid fa-circle-arrow-left"></i>
    </a>
  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">


<div class="container shadow rounded">
    <div class="h1 page-title">Editar</div>
    <div class="nav nav-tabs">
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-link active" id="nav-profile-tab" data-bs-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="true">Perfil</a>
            <a class="nav-link" id="nav-aboutMe-tab" data-bs-toggle="tab" href="#nav-aboutMe" role="tab" aria-controls="nav-aboutMe" aria-selected="false">Sobre mí</a>
            <a class="nav-link" id="nav-projects-tab" data-bs-toggle="tab" href="#nav-projects" role="tab" aria-controls="nav-projects" aria-selected="false">Proyectos</a>
        </div>
    </div>


    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="nav-profile" role="tabpanel" aria-labelledby="profile-tab">
            <div class="card shadow rounded">
                <div class="card-body">
                    <div class="card-title">
                        <div class="h2">Perfil</div>
                    </div>
                    <div class="card-text">
                        <form [formGroup]="editProfileForm" class="editProfileForm" (ngSubmit)="editProfile(editProfileForm.value)">
                            <div class="forms">    
                                <div class="profile">
                                    <label>Nombre</label>
                                    <br>
                                    <input class="text-input" type="text" formControlName="userName" placeholder="{{previewPInfo.userName}}">
                                    <br><br>
                                    <label>Informacion Profesional</label>
                                    <br>        
                                    <input class="text-input"type="text" formControlName="careerInfo" placeholder="{{previewPInfo.careerInfo}}">
                                    <br><br>
                                    <label>Foto de Perfil</label>
                                    <br>
                                    <input type="file" class="file" accept="image/png, image/jpg, image/jpeg" >
                                    <br><br>
                                    <label>Foto de Portada</label>
                                    <br>
                                    <input type="file" class="file" accept="image/png, image/jpg, image/jpeg" >
                                    <br><br>
                                </div>
                                <div class="socMedia">
                                    <div class="h4">Contacto</div>
                                    <br>
                                    <label>Correo</label>
                                    <br>
                                    <input class="text-input"type="text" formControlName="email" placeholder="{{previewPInfo.email}}">
                                    <br><br>
                                </div>   
                            </div>     
                                <div class="submit">
                                <button class="btn btn-primary" type="submit"  >Actualizar</button>
                                </div>
                            
                        </form>
                </div>
            </div>
            </div>
        </div>


        <div class="tab-pane fade" id="nav-aboutMe" role="tabpanel" aria-labelledby="aboutMe-tab">  
            <div class="card shadow rounded">
                <div class="card-body">
                    <div class="card-title">
                        <div class="h2">Sobre mí</div>
                    </div>
                    <div class="card-text">
                        <div class="forms" id="aboutMeForms">    
                            <form [formGroup]="editCardForm" class="editC1Form" (ngSubmit)="editCard(editCardForm.value)">

                                <div class="h5">Tarjeta 1</div>
                                <br>
                                <input type="hidden" formControlName="id">
                                <label>Titulo</label>
                                <br>
                                <input type="text" formControlName="title" placeholder="{{previewC1Info.title}}">
                                <br>
                        
                                <label>Cuerpo</label>
                                <br>
                                <input type="text" formControlName="body" placeholder="{{previewC1Info.body}}">
                                <br><br>
                                <button class="btn btn-primary" type="submit" (click)="editCardForm.patchValue({'id': previewC2Info.id})">Actualizar</button>
                            </form>
                        
                            <br>

                            <form [formGroup]="editCardForm" *ngIf="cards >= 2" class="editC2Form" (ngSubmit)="editCard(editCardForm.value)">
                                <div  class="h5">Tarjeta 2</div>
                                <br>
                            
                                <label>Titulo</label>
                                <br>
                                <input type="text" formControlName="title" placeholder="{{previewC2Info.title}}">
                                <br>
                        
                                <label>Cuerpo</label>
                                <br>
                                <input type="text" formControlName="body" placeholder="{{previewC2Info.body}}">
                                <br><br>
                                <button class="btn btn-primary" type="submit">Actualizar</button>
                            </form>
                        
                            <br>

                            <form [formGroup]="editCardForm" *ngIf="cards >= 3"  class="editC3Form" (ngSubmit)="editCard(editCardForm.value)">
                                <div class="h5">Tarjeta 3</div>
                                <br>
                            
                                <label>Titulo</label>
                                <br>
                                <input type="text" formControlName="title" placeholder="{{previewC3Info.title}}">
                                <br>
                        
                                <label>Cuerpo</label>
                                <br>
                                <input type="text" formControlName="body" placeholder="{{previewC3Info.body}}">
                                <br><br>
                                <button class="btn btn-primary" type="submit" (click)="editCardForm.patchValue({'id': previewC3Info.id})">Actualizar</button>
                            </form>

                            <br>
                        
                            <form [formGroup]="editCardForm" *ngIf="cards >= 4" class="editC4Form" (ngSubmit)="editCard(editCardForm.value)">
                                <div  class="h5">Tarjeta 4</div>
                                <br>
                            
                                <label>Titulo</label>
                                <br>
                                <input type="text" formControlName="title" placeholder="{{previewC4Info.title}}">
                                <br>
                        
                                <label>Cuerpo</label>
                                <br>
                                <input type="text" formControlName="body" placeholder="{{previewC4Info.body}}">
                                <br><br>
                                <button class="btn btn-primary" type="submit" (click)="editCardForm.patchValue({'id': previewC4Info.id})" >Actualizar</button>
                            </form>
                            
                            <button *ngIf="!(cards == 4)" id="add-button"(click)="createCard()" >    
                                <div  class="container shadow rounded" id="add">
                                <i class="fa-solid fa-plus"></i>
                            </div>
                            </button>

                        </div>
                        
                    </div>
                    
                </div>
        </div>
    </div>
        <div class="tab-pane fade" id="nav-projects" role="tabpanel" aria-labelledby="projects-tab">     
            <div class="card shadow rounded">
                <div class="card-body">
                    <div class="card-title">
                        <div class="h2">Proyectos</div>
                    </div>
                    <div class="card-text">
                        <div class="forms" id="aboutMeForms">    
                            <form [formGroup]="editCardForm" class="editP1Form" (ngSubmit)="editCard(editCardForm.value)">

                                <div class="h5">Tarjeta 1</div>
                                <br>
                                <input type="hidden" formControlName="id">
                                <label>Titulo</label>
                                <br>
                                <input type="text" formControlName="title" placeholder="">
                                <br>
                        
                                <label>Cuerpo</label>
                                <br>
                                <input type="text" formControlName="body" placeholder="">
                                <br><br>
                                <button class="btn btn-primary" type="submit">Actualizar</button>
                            </form>
                        
                            <br>

                            <form [formGroup]="editCardForm" class="editP2Form" (ngSubmit)="editCard(editCardForm.value)" >
                                <div  class="h5">Tarjeta 2</div>
                                <br>
                            
                                <label>Titulo</label>
                                <br>
                                <input type="text" formControlName="title" placeholder="">
                                <br>
                        
                                <label>Cuerpo</label>
                                <br>
                                <input type="text" formControlName="body" placeholder="">
                                <br><br>
                                <button class="btn btn-primary" type="submit">Actualizar </button>
                            </form>
                        
                            <br>

                            <form [formGroup]="editCardForm"  class="editP3Form" (ngSubmit)="editCard(editCardForm.value)">
                                <div class="h5">Tarjeta 3</div>
                                <br>
                            
                                <label>Titulo</label>
                                <br>
                                <input type="text" formControlName="title" placeholder="">
                                <br>
                        
                                <label>Cuerpo</label>
                                <br>
                                <input type="text" formControlName="body" placeholder="">
                                <br><br>
                                <button class="btn btn-primary" type="submit">Actualizar</button>
                            </form>

                            <br>
                        
                            <form [formGroup]="editCardForm" class="editP4Form" (ngSubmit)="editCard(editCardForm.value)">
                                <div  class="h5">Tarjeta 4</div>
                                <br>
                            
                                <label>Titulo</label>
                                <br>
                                <input type="text" formControlName="title" placeholder="">
                                <br>
                        
                                <label>Cuerpo</label>
                                <br>
                                <input type="text" formControlName="body" placeholder="">
                                <br><br>
                                <button class="btn btn-primary" type="submit" >Actualizar</button>
                            </form>
                            <button  id="add-button"(click)="createCard()" >                        
                            <div *ngIf="!(cards == 4)" class="container shadow rounded" id="add">
                                <i class="fa-solid fa-plus"></i>
                         </div>  
                        </button>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>