<!--Por un problema de una actualización de Fontawesome/Angular, uso lo siguiente en vez de su modulo: -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
<script>
    $('a[data-bs-toggle="tab"]').on('show.bs.tab', function (e) {
        localStorage.setItem('activeTab', $(e.target).attr('data-bs-target'));
    });
    var activeTab = localStorage.getItem('activeTab');
    if (activeTab) {
        $('#myTab button[data-bs-target="' + activeTab + '"]').tab('show');
    }
</script>
<div class="container">

    <a routerLink="/home">
        <i class="fa-solid fa-circle-arrow-left"></i>
    </a>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    <div class="container rounded">
        <div class="h1 page-title">Editar</div>
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
                    href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="true">Perfil</a>
                <a class="nav-link" id="nav-skills-tab" data-bs-toggle="tab" data-bs-target="#nav-skills"
                    href="#nav-skills" role="tab" aria-controls="nav-skills" aria-selected="true">Habilidades</a>
                <a class="nav-link" id="nav-aboutMe-tab" data-bs-toggle="tab" data-bs-target="#nav-aboutMe"
                    href="#nav-aboutMe" role="tab" aria-controls="nav-aboutMe" aria-selected="false">Sobre mí</a>
                <a class="nav-link" id="nav-projects-tab" data-bs-toggle="tab" data-bs-target="#nav-projects"
                    href="#nav-projects" role="tab" aria-controls="nav-projects" aria-selected="false">Proyectos</a>
                <a class="nav-link" id="nav-experiences-tab" data-bs-toggle="tab" data-bs-target="#nav-experiences"
                    href="#nav-experiences" role="tab" aria-controls="nav-experiences" aria-selected="false">Experiencia Laboral</a>   
                <a class="nav-link" id="nav-education-tab" data-bs-toggle="tab" data-bs-target="#nav-education"
                    href="#nav-education" role="tab" aria-controls="nav-education" aria-selected="false">Educación</a>    
            </div>
        </nav>



        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                <div class="card shadow rounded">
                    <div class="card-body">
                        <div class="card-title">
                            <div class="h2">Perfil</div>
                        </div>
                        <div class="card-text">
                            <form [formGroup]="editProfileForm" class="editProfileForm"
                                (ngSubmit)="editProfile(profile)">
                                <div class="forms">
                                    <div class="profile">
                                        <label for="userName">Nombre</label>
                                        <br>
                                        <input class="text-input" type="text" formControlName="userName">
                                        <br><br>
                                        <label for="careerInfo">Informacion Profesional</label>
                                        <br>
                                        <input class="text-input" type="text" formControlName="careerInfo">
                                        <br><br>
                                        <label>Foto de Perfil</label>
                                        <br>
                                        <input type="file" class="file" accept="image/png, image/jpg, image/jpeg" (change)="loadPic($event)">
                                        <br><br>
                                        <label>Foto de Portada</label>
                                        <br>
                                        <input type="file" class="file" accept="image/png, image/jpg, image/jpeg" (change)="loadBanner($event)">
                                        <br><br>
                                    </div>
                                    <div class="socMedia">
                                        <div class="h4">Contacto</div>
                                        <label>Correo</label>
                                        <br>
                                        <input class="text-input" type="text" formControlName="email">
                                        <br><br>
                                        <label>Redes Sociales</label>
                                        <div formArrayName="urls">
                                            <div *ngFor="let url of editProfileForm.controls['urls'].value let i=index">
                                                <div>
                                                    <label>Url {{i + 1}}</label>
                                                    <br>
                                                    <input class="text-input" type="url" [formControlName]="i">
                                                </div>
                                                <br>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="submit">
                                        <button class="btn btn-primary" type="submit">Actualizar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="nav-skills" role="tabpanel" aria-labelledby="nav-skills-tab">
                <div class="card shadow rounded">
                    <div class="card-body">
                        <div class="card-title">
                            <div class="h2">Habilidades</div>
                        </div>

                        <div class="card-text">
                            <div [formGroup]="editSkillForm">
                                <div class="forms" id="skillForms" formArrayName="skill">
                                    <div *ngFor="let skill of skillForms.controls; let i = index">
                                        <button class="delete-button" (click)="deleteSkill(skill.value.id)">
                                            <div class=" btn btn-warning">
                                                <i class="fa-solid fa-circle-xmark"></i>
                                            </div>
                                        </button>

                                        <form [formGroupName]="i" (submit)="editSkill(skill.value)">

                                            <br>
                                            <input type="hidden" formControlName="id">
                                            <label>Porcentaje</label>
                                            <br>
                                            <input type="number" formControlName="percent"
                                                placeholder="{{skill.value.percent}}">
                                            <br>

                                            <label>Cuerpo</label>
                                            <br>
                                            <input type="text" formControlName="skill"
                                                placeholder="{{skill.value.skill}}">
                                            <br><br>
                                            <button class="btn btn-primary" type="submit">Actualizar</button>
                                        </form>

                                        <br><br>
                                    </div>


                                    <button *ngIf="!(previewSkillsInfo.length == 10)" id="add-button"
                                        (click)="createSkillCircle()">
                                        <div class="container shadow rounded" id="add">
                                            <i class="fa-solid fa-plus"></i>
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="tab-pane fade show" id="nav-aboutMe" role="tabpanel" aria-labelledby="nav-aboutMe-tab">
                <div class="card shadow rounded">
                    <div class="card-body">
                        <div class="card-title">
                            <div class="h2">Sobre mí</div>
                        </div>

                        <div class="card-text">
                            <div class="h5">Tarjetas</div>
                            <div [formGroup]="editCardForm">
                                <div class="forms" id="aboutMeForms" formArrayName="card">
                                    <div *ngFor="let card of cardForms.controls; let i = index;">
                                        <button class="delete-button" (click)="deleteCard(card.value.id)">
                                            <div class=" btn btn-warning">
                                                <i class="fa-solid fa-circle-xmark"></i>
                                            </div>
                                        </button>
                                        <form [formGroupName]="i" (submit)="editCard(card.value)">

                                            <br>
                                            <input type="hidden" formControlName="id">
                                            <label for="title">Titulo</label>
                                            <br>
                                            <input type="text" formControlName="title">
                                            <br>

                                            <label for="body">Cuerpo</label>
                                            <br>
                                            <input type="text" formControlName="body">
                                            <br><br>
                                            <button class="btn btn-primary" type="submit">Actualizar</button>
                                        </form>

                                        <br><br>
                                    </div>
                                    <button *ngIf="!(previewCardInfo.length == 4)" id="add-button"
                                        (click)="createCard()">
                                        <div class="container shadow rounded" id="add">
                                            <i class="fa-solid fa-plus"></i>
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-projects" role="tabpanel" aria-labelledby="nav-projects-tab">
                <div class="card shadow rounded">
                    <div class="card-body">
                        <div class="card-title">
                            <div class="h2">Proyectos</div>
                        </div>

                        <div class="card-text">
                            <div class="h5">Tarjetas</div>
                            <div [formGroup]="editProjectForm">
                                <div class="forms" id="projectForms" formArrayName="project">
                                    <div *ngFor="let project of projectForms.controls; let i = index">
                                        <button class="delete-button" (click)="deleteProject(project.value.id)">
                                            <div class=" btn btn-warning">
                                                <i class="fa-solid fa-circle-xmark"></i>
                                            </div>
                                        </button>

                                        <form [formGroupName]="i" (submit)="editProject(project.value)">

                                            <br>
                                            <input type="hidden" formControlName="id">
                                            <label>Titulo</label>
                                            <br>
                                            <input type="text" formControlName="title"
                                                placeholder="{{project.value.title}}">
                                            <br>

                                            <label>Cuerpo</label>
                                            <br>
                                            <input type="text" formControlName="body"
                                                placeholder="{{project.value.body}}">
                                            <br><br>
                                            <button class="btn btn-primary" type="submit">Actualizar</button>
                                        </form>

                                        <br><br>
                                    </div>


                                    <button *ngIf="!(previewProjectInfo.length == 4)" id="add-button"
                                        (click)="createProject()">
                                        <div class="container shadow rounded" id="add">
                                            <i class="fa-solid fa-plus"></i>
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-experiences" role="tabpanel" aria-labelledby="nav-experiences-tab">
                <div class="card shadow rounded">
                    <div class="card-body">
                        <div class="card-title">
                            <div class="h2">Experiencia Laboral</div>
                        </div>
        
                        <div class="card-text">
                            <div class="h5">Tarjetas</div>
                            <div [formGroup]="editExperienceForm">
                                <div class="forms" id="aboutMeForms" formArrayName="experience">
                                    <div *ngFor="let card of experienceForms.controls; let i = index;">
                                        <button class="delete-button" (click)="deleteExperience(card.value.id)">
                                            <div class=" btn btn-warning">
                                                <i class="fa-solid fa-circle-xmark"></i>
                                            </div>
                                        </button>
                                        <form [formGroupName]="i" (submit)="editExperience(card.value)">
        
                                            <br>
                                            <input type="hidden" formControlName="id">
                                            <label for="title">Titulo</label>
                                            <br>
                                            <input type="text" formControlName="title">
                                            <br>
        
                                            <label for="body">Cuerpo</label>
                                            <br>
                                            <input type="text" formControlName="body">
                                            <br><br>
                                            <button class="btn btn-primary" type="submit">Actualizar</button>
                                        </form>
        
                                        <br><br>
                                    </div>
                                    <button *ngIf="!(previewExperienceInfo.length == 6)" id="add-button"
                                        (click)="createExperience()">
                                        <div class="container shadow rounded" id="add">
                                            <i class="fa-solid fa-plus"></i>
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="tab-pane fade " id="nav-education" role="tabpanel" aria-labelledby="nav-education-tab">
                <div class="card shadow rounded">
                    <div class="card-body">
                        <div class="card-title">
                            <div class="h2">Educación</div>
                        </div>
        
                        <div class="card-text">
                            <div class="h5">Tarjetas</div>
                            <div [formGroup]="editEducationForm">
                                <div class="forms" id="projectForms" formArrayName="education">
                                    <div *ngFor="let card of educationForms.controls; let i = index;">
                                        <button class="delete-button" (click)="deleteEducation(card.value.id)">
                                            <div class=" btn btn-warning">
                                                <i class="fa-solid fa-circle-xmark"></i>
                                            </div>
                                        </button>
                                        <form [formGroupName]="i" (submit)="editEducation(card.value)">
        
                                            <br>
                                            <input type="hidden" formControlName="id">
                                            <label for="title">Titulo</label>
                                            <br>
                                            <input type="text" formControlName="title">
                                            <br>
        
                                            <label for="body">Cuerpo</label>
                                            <br>
                                            <input type="text" formControlName="body">
                                            <br><br>
                                            <button class="btn btn-primary" type="submit">Actualizar</button>
                                        </form>
        
                                        <br><br>
                                    </div>
                                    <button *ngIf="!(previewEducationInfo.length == 4)" id="add-button"
                                        (click)="createEducation()">
                                        <div class="container shadow rounded" id="add">
                                            <i class="fa-solid fa-plus"></i>
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        
    </div>

</div>

    

    